<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We'll show you cool things near you in the app.</string>

    <!-- iOS 10 or earlier -->
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We'll show you cool things near you in the app, and alert you via
    notifications if you don't have the app open.</string>

    <!-- iOS 11 -->
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We'll show you cool things near you in the app. With the "always" option,
    we can also alert you via notifications if you don't have the app open.</string>
    <key>NSMotionUsageDescription</key>
    <string>We are using motion usage in order to track your step count.</string>
	<key>NFCReaderUsageDescription</key>
	<string>readnfc</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
